<mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
<ng-container *ngIf="!isLoading">

    <mat-form-field class="search-field" appearance="standard">
        <mat-label>Find file</mat-label>
        <input matInput [formControl]="strSearch">
    </mat-form-field>

    <mat-list class="item-list">
        <ng-container *ngFor="let type of filteredFiles">
            <ng-container *ngIf="type.files.length">
                <div mat-subheader>{{type.name}}</div>
                <mat-list-item *ngFor="let file of type.files">
                    <mat-icon class="item-list__icon" mat-list-icon>insert_drive_file</mat-icon>
                    <div mat-line>{{file.title}} ({{file.status}})</div>
                    <div mat-line>
                        <span class="item-list__info">
                            <span>Created by: </span>
                            <span><strong>{{isUsersLoading ? 'Loading...' : getUserById(file.createdBy)}} </strong></span>
                            <span>({{file.creationDateTime | date:'short'}})</span>
                        </span>
                        <span class="item-list__info">
                            <span>Modified by: </span>
                            <span><strong>{{isUsersLoading ? 'Loading...' : getUserById(file.modifiedBy)}} </strong></span>
                            <span>({{file.modifiedDateTime | date:'short'}})</span>
                        </span>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </ng-container>
    </mat-list>
    
</ng-container>
<div *ngIf="!isLoading && !filteredFiles.length">Not Found</div>